/*clases deporte olloniego*/
.deporte{
    background-image: url(../img/banner/oll-b-1.jpg);
background-size: cover;
border-radius: 20px;

}
.deporte1{
    background-image: url(../img/banner/oll-b-2.jpg);
background-size: cover;
border-radius: 20px;

}
/* bloque de rutas BTT*/
.fondorutas{
    background: linear-gradient(135deg, 
    rgba(255, 248, 220, 0.9), 
    rgba(144, 238, 144, 0.7));
    }
    
.olloniego{
    background-image: url(../img/alargadas/oll-a-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;   

}
.fondorutas1{
    background: linear-gradient(135deg, 
    rgba(237, 235, 227, 0.9), 
    rgba(173, 149, 17, 0.7));
    }
 .fondorutas2{
        background: linear-gradient(135deg, 
        rgba(212, 215, 220, 0.9), 
        rgba(69, 162, 174, 0.7));
        }