.bg-g-11{
    background-image: url("../img/banner/cas-b-\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.parallaxcas1{

    background-image: url('../img/alargadas/cas-a-\ \(6\).jpg');
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.efecto-picu{
    opacity: 90%;}
    
.efecto-picu:hover{
    opacity: 100%;
    transform: scale(1,2 1,2);
    border-radius: 25px;
    box-shadow: 5px 5px 5px grey;
}

.imagenmapa{
    box-shadow: 5px 5px 7px rgb(135, 190, 229), -5px -5px 7px rgb(135, 190, 229)
  }

.banersendas{
    background-image: url('../img/banner/cas-b-\(3\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
  }
.fondorutas{
    background: linear-gradient(135deg, 
    rgba(255, 248, 220, 0.9), 
    rgba(144, 238, 144, 0.7));
    }
.fondorutas2{
    background: linear-gradient(135deg, 
    rgba(212, 215, 220, 0.9), 
    rgba(69, 162, 174, 0.7));
    }
.fondorutas1{
    background: linear-gradient(135deg, 
    rgba(237, 235, 227, 0.9), 
    rgba(173, 149, 17, 0.7));
    }

 .bannersendasdos{
    background-image: url("../img/alargadas/cas-a-\ \(7\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    }
    .imagenesazules{
        box-shadow: 5px 5px 7px rgb(135, 190, 229)
      }