/*
.bg-azul-oscuro{
    background-color:#0b2c56;
}
.bg-azul-oscuro-opacity-75{
background-color: rgba(11, 43, 86, 0.5);
}
.bg-azul-oscuro-b{
    background-color: #0c3e75;
}
.bg-azul-claro{
    background-color: #006ab1;
}
.bg-gris{
    background-color:#f2f4f5;
}
.text-azul-oscuro{
    color:#0b2c56;
}
.bg-azul-oscuro-b{
    color: #0c3e75;
}
.text-azul-claro{
    color: #006ab1;
}
.text-gris{
    color:#f2f4f5;
}
.text-justify{
    text-align: justify;
}

.a-hover:hover{
    font-size: 9pt;
    transform: scaleX(1.1);
    color: #0b2c56;
    
   }
   .sombra-letras{
    text-shadow: 1px 1px black, -1px -1px black;
   }
   .border-radsom{
    border-radius: 15px;
    box-shadow:5px 5px 10px grey  ;
  }
.logo-ovd-pie{
    width:35%;
    }
.logo-ovd-pie-md{
    width:57%;
}
.text-politica{
    font-size: 10pt;
}
.w-pie{
    width: 80%;
}
*/

/* clases personalizadas Inicio */
.letrape{
    font-size: 10pt;
}

.border-banner{
    border-radius: 20px;
    border:grey solid 2px;
}




/* css de derechos */

.mapa,.sinul {
    list-style-type: none;
}