.parallax {

    background-image: url(../img/baner/foto\ 1900x1200.jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
    
    
.parallax2 {

    background-image: url('../img/alargadas/arc-a-\ \(13\).jpg');
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.sanpedro {

    background-image: url(../img/cuadradas/arc-c-\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.imagen{

    transition: 0.6s ;
        
}
        
.imagen:hover{
    transform: scale(1.02,1.02);  
    transition: 0.6s;
    box-shadow: 5px 5px 25px;  
}
        
.baner{ box-shadow: 10px 10px 8px black , 20px 20px 18px silver ;}
.card1{box-shadow: -6px -6px 1px rgba(0, 81, 255, 0)  }
.borde{
        
    border-radius: 15px;
    box-shadow: 15px 15px 20px grey;
    
    }



.banner-sanpedro{

    background-image: url(../img/banner/arc-b-\ \(15\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-sanpedro-2{

    background-image: url(../img/banner/arc-b-\ \(16\).jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.banner-naturaleza-1{

    background-image: url(../img/banner/arc-b-\(8\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-naturaleza-2{

    background-image: url(../img/banner/arc-b-\(8\).jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.banner-naturaleza-3{

    background-image: url(../img/banner/arc-b-\ \(12\).jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.banner-naturaleza-4{

    background-image: url(../img/banner/arc-b-\ \(13\).jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.banner-historia-1{

    background-image: url(../img/banner/arc-b-\ \(17\).jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.banner-historia-2{

    background-image: url(../img/banner/arc-b-\ \(18\).jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.caja{
 
    position: relative;

}

