
.bg-azul-oscuro{
    background-color:#0b2c56;
}
.bg-azul-oscuro-opacity-75{
background-color: rgba(11, 43, 86, 0.5);
}
.bg-azul-oscuro-b{
    background-color: #0c3e75;
}
.bg-azul-claro{
    background-color: #006ab1;
}
.bg-gris{
    background-color:#f2f4f5;
}
.text-azul-oscuro{
    color:#0b2c56;
}
.bg-azul-oscuro-b{
    color: #0c3e75;
}
.text-azul-claro{
    color: #006ab1;
}
.text-gris{
    color:#f2f4f5;
}
.text-justify{
    text-align: justify;
}

.a-hover:hover{
    font-size: 9pt;
    transform: scaleX(1.1);
    color: #0b2c56;
    
   }
   .sombra-letras{
    text-shadow: 1px 1px black, -1px -1px black;
   }

/* clases personalizadas Inicio */
.letrape{
    font-size: 10pt;
}

.border-banner{
    border-radius: 20px;
    border:grey solid 2px;
}




/* San Miguel de Lillo */

.sombra {

box-shadow: 4px 4px 4px 5px;

}

.sanmiguel {

background-image: url(../img/cuadradas/nar-c-43.jpg);
background-size: cover;
background-repeat: no-repeat;

}

.rotate:hover {

transform: rotateY(180deg);
transition: 3s;
opacity: 50%;

}

.borde{
        
    border-radius: 15px;
    box-shadow: 15px 15px 20px grey;
    
    }
      
.borde1{

    border-radius: 15px;
    box-shadow: -15px -15px 20px grey;
    
    }

.imagen{

    transition: 0.6s ;
        
    }
        
    .imagen:hover{
            transform: scale(1.02,1.02);  
            transition: 0.6s;
            box-shadow: 5px 5px 25px;  
    }
        
    .baner{ box-shadow: 10px 10px 8px black , 20px 20px 18px silver ;}
    .card1{box-shadow: -6px -6px 1px rgba(0, 81, 255, 0)  }
        
    .parallax {

        background-image: url(../img/baner/foto\ 1900x1200.jpg);
        min-height: 1000px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
        
        
    .parallax2 {

        background-image: url('../img/alargadas/nar-a-6.jpg');
        min-height: 1000px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .sombra1 {

        box-shadow: 8px 8px 15px;

    }

    .banner-sanmiguel{

        background-image: url(../img/alargadas/nar-a-9.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .caja{

    position: relative;

    }

    .text-banner{

        position: absolute;
        top: 90px;
        left: 50px;
        color: white;
        font-size: 20pt;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-shadow: 6px 6px 3px black;
    }

    .text-banner-2{

        position: absolute;
        top: 240px;
        right: 140px;
        color: white;
        font-size:40pt;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-shadow: 6px 6px 3px black;
    }

    .text-banner-3{

        position: absolute;
        top: 140px;
        left: 60px;
        color: white;
        font-size:32pt;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-shadow: 6px 6px 3px black;

    }

    .text-banner-4{

        position: absolute;
        top: 140px;
        right: 70px;
        color: white;
        font-size:32pt;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-shadow: 6px 6px 3px black;


    }

    .text-banner-5{

        position: absolute;
        top: 100px;
        right: 60px;
        color: white;
        font-size: 10pt;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-shadow: 6px 6px 3px black;


    }



/* Sta. Maria del Naranco */
.text-size{
    font-size: x-large;
}
.baner{
    background-image: url(../img/banner/nar-b-7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sombra-card{
    box-shadow: 10px 10px 5px grey;
}
.sombra-text{
    text-shadow: 5px 5px 3px black;
}
  
.border-azul-oscuro{
    border: #0b2c56;
}

.baner-covi{
    background-image: url("../img/banner/nar-b-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.p1{
    border-radius: 20px;
}
.card-sombra:hover{
    transform: scale(1.05,1.05);
    transition: 0.5;
    box-shadow: 5px 5px 10px grey;
}

/* Desarrollo efecto parallax*/
.parallax-carmen {
    background-image: url(../img/alargadas/nar-a-1.jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* El cristo */



/* Ruta Pico el Paisano */
