
/* Sta. Maria del Naranco */
.text-size{
  font-size: x-large;
}
.baner-carmen{
  background-image: url(../img/banner/nar-b-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sombra-card{
  box-shadow: 10px 10px 5px grey;
}
.sombra-text{
  text-shadow: 1px 1px 1px black;
}

.border-azul-oscuro{
  border: #0b2c56;
}

.baner-covi{
  background-image: url("../img/banner/nar-b-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.p1{
  border-radius: 20px;
}
.card-sombra:hover{
  transform: scale(1.05,1.05);
  transition: 0.5;
  box-shadow: 5px 5px 10px grey;
}

/* Desarrollo efecto parallax*/
.parallax-carmen {
  background-image: url(../img/alargadas/nar-a-1.jpg);
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*san miguel  */
.sanmiguel {

  background-image: url(../img/cuadradas/nar-c-43.jpg);
  background-size: cover;
  background-repeat: no-repeat;}
  
.sombra {

box-shadow: 4px 4px 4px 5px;

}

.sanmiguel {

background-image: url(../img/cuadradas/nar-c-43.jpg);
background-size: cover;
background-repeat: no-repeat;

}
.bg-sanmiguel{
    background-image: url("../img/banner/nar-b-6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}




   
        
    
        
    .parallax {

        background-image: url(../img/baner/foto\ 1900x1200.jpg);
        min-height: 1000px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
        
        
    .parallax2 {

        background-image: url('../img/alargadas/nar-a-6.jpg');
        min-height: 1000px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
    .banner-sanmiguel{

        background-image: url(../img/alargadas/nar-a-9.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }




  
  

/* pagina principal parallax */

.parallaxindex{
  background-image: url(../img/alargadas/nar-a-12.jpg);
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}






 /* Desarrollo efecto parallax*/
 .parallax-g-cristo{
    background-image: url(../img/alargadas/nar-a-5.jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  .bg-g-10{
    background-image: url("../img/banner/nar-b-4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

  .back-gema{
   background-image: url(../img/alargadas/nar-a-12.jpg);
  
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
   
  }
  

  .back-gema-1{
    background-image: url(../img/alargadas/nar-a-8.jpg);
   
    background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     border-radius: 20px;
    
   }
   /*galería*/
   .galeria1{
    background-image: url(../img/cuadradas/nar-c-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.galeria2{
    background-image: url(../img/cuadradas/nar-c-27.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.galeria3{
    background-image: url(../img/cuadradas/nar-c-4.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
  }
.galeria4{
    background-image: url(../img/cuadradas/nar-c-38.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-nav-video{
  background-color: #006ab1;
}


/* Ruta Pico el Paisano */
.bordebannerpicup1{
  border-radius: 20px;
  border:grey solid 2px;}


.borderedondaspicu{
  box-shadow: 5px 5px 5px white , -5px -5px 5px white ;
}


  .parallaxpicupaisanu1{
      background-image: url(../img/alargadas/nar-a-4.jpg);
      min-height: 1000px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;}

      .efecto-picu{
          opacity: 90%;}
          
      .efecto-picu:hover{
          opacity: 100%;
          transform: scale(1,2 1,2);
          border-radius: 25px;
          box-shadow: 5px 5px 5px grey;
      }
      .parallaxpicupaisanu2{
          background-image: url(../img/alargadas/nar-a-3.jpg);
          min-height: 1000px;
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;}

      
      

      .bannerpicuNew{
          background-image: url("../img/alargadas/nar-a-12.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 20px;
          border:grey solid 2px;

      }
      .sombra-text2 {
          text-shadow: 1px 1px 1px black;
      }
      /* Galeria  */
   