 


.parallaxcovi2 {
    background-image: url(../img/alargadas/inv-a-39.jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.baner-coviNew{
    background-image: url(../img/banner/inv-b-15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.baner-doss{
    background-image: url("../img/banner/inv-b-11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}



/* clases personalizadas Historia  historia */

.parallaxcovi{
    background-image: url(../img/alargadas/inv-a-14.jpg);  
    min-height: 1000px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.abetos-g{
    background-image: url("../img/alargadas/pur-a-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
}
 

/*clases personalizadas deporte*/
.banerdeporteaire{
    background-image: url(../img/banner/inv-b-27.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    border-radius:20px;
    text-shadow: 5px 5px 3px black;

}


.invierno{
    background-image: url(../img/alargadas/inv-a-41.jpg);
    background-repeat: no-repeat;
    background-size: cover;   

}

.parallaxbelen {
    background-image: url(../img/alargadas/inv-a-38.jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* naturaleza */
.parallaxcharo {
    background-image: url(../img/alargadas/inv-a-11.jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
.baner{
    background-image: url(../img/banner/inv-b-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.baner-nat-1{
    background-image: url(../img/banner/inv-b-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.baner-nat-2{
    background-image: url(../img/banner/inv-b-23.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.parallaxluz {
    background-image: url(../img/alargadas/inv-a-36.jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

