 

/* Desarrollo efecto parallax*/
    .parallax-gema {
        background-image: url(../img/alargadas/pur-a-8.jpg);
        min-height: 1000px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }




/* clases personalizadas Historia */
.baner-g{
    background-image: url("../img/banner/pur-a-8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.abetos-g{
    background-image: url("../img/alargadas/pur-a-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
}
 



/* clases personalizadas Naturaleza */


.galeria1 {
    background-image: url(../img/cuadradas/pur-c-11.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.galeria2 {
    background-image: url(../img/cuadradas/pur-c-18.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.galeria3 {
    background-image: url(../img/cuadradas/pur-c-9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.galeria4 {
    background-image: url(../img/cuadradas/pur-c-15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.abetos {
    background-image: url("../img/alargadas/pur-a-7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* esta es la animación de la imagen redonda grande y 3 más pequeñas */
.imagen:hover {
    transform: scale(1.3, 1.3);
    transition: 0.5s;
}

/* Efecto parallax */
.parallax-naturaleza {
    background-image: url(../img/alargadas/pur-a-6.jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* para el efecto de las card que se agranda y tiene sombra */

.video-sombra{
    box-shadow: -7px -7px 5px grey;
    border-radius: 20px;
}

/* clases personalizadas Deportes */


.deportes{
    background-image: url("../img/alargadas/pur-a-6.jpg");
    background-repeat: no-repeat;
    background-size: cover;   

}


.parallax {
    background-image: url(../img/baner/foto\ 1900x1200.jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax2 {
    background-image: url('../img/alargadas/pur-a-7.jpg');
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* clases personalizadas Otros */
.bg-fondobanner{
    background-image: url(../img/banner/pur-a-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    border:grey solid 2px;
   
}


.bg-fondobanner2{
    background-image: url(../img/cuadradas/pur-c-24.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.parallaxvivero{
    background-image: url(../img/banner/pur-a-13.jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.baner-foto {
    background-image: url(../img/banner/pur-a-13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.parallaxpuri{
    background-image: url(../img/alargadas/pur-a-12.jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}