/*Baner colesterol*/
.baner-col {
    background-image: url(../img/banner/col-b-\ \(5\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-belen-colesterol {
    background-image: url(../img/alargadas/col-a-\ \(14\).jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.baner-col-2 {
    background-image: url(../img/banner/col-b-\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.baner-col-3 {
    background-image: url(../img/banner/col-b-\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Clases de la acebera*/
.baner {
    background-image: url(../img/banner/ace-b-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-covi {
    background-image: url(../img/alargadas/acb-a-3.jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.baner2 {
    background-image: url(../img/banner/ace-b-\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.baner3 {
    background-image: url(../img/banner/ace-b-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Clases de los meandros*/

.parallax-covi2 {
    background-image: url(../img/alargadas/mea-a-1.jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.baner4 {
    background-image: url(../img/banner/mea-b-1\ \(8\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Clases Río Nora */



.baner-nora {
    background-image: url(../img/banner/ace-b-\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-belen-rionora  {
    background-image: url(../img/alargadas/col-a-\ \(4\).jpg);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.baner-nora2 {
    background-image: url(../img/banner/ace-b-\ \(5\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.baner-nora3 {
    background-image: url(../img/banner/ace-b-\ \(7\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.baner5 {
    background-image: url(../img/banner/mea-b-\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.baner6 {
    background-image: url(../img/banner/mea-b-\ \(4\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.baner7 {
    background-image: url(../img/banner/mea-b-\(13\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*clases de rutas BTT La Acebera*/
.fondorutas{
    background: linear-gradient(135deg, 
    rgba(255, 248, 220, 0.9), 
    rgba(144, 238, 144, 0.7));
    }
    
.acebera{
    background-image: url(../img/alargadas/acb-a-10.png);
    background-repeat: no-repeat;
    background-size: cover;   
}
/*clases de rutas BTT Colesterol*/
.fondorutas{
    background: linear-gradient(135deg, 
    rgba(255, 248, 220, 0.9), 
    rgba(144, 238, 144, 0.7));
    }
    
.colesterol{
    background-image: url(../img/alargadas/col-a-\ \(6\).jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}
